<!doctype html>
<html>
<head>
    <title>COVID Literature Search Engine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(function(){
            var dynamicVar = '{% if classifier %}{{ classifier }}{% else%}base{% endif %}';
            $("#classifier").val(dynamicVar).attr("selected", "selected");
        });
     </script>
</head>
<body>
    <h1 align="center">COVID Literature Search Engine</h1>
    <div align="center">
        <h3> Get the Top 5 Research Papers matching the entered text below </h3>  
        <h3> Details - Authors, Journal, Publish Date, Title, Abstract and Link to the Paper </h3>      
    </div><br>
    <div class="container">
        <form action="/result" method="post" >
            <dl>
                <dd>Enter your Text:<input type=text name="entry_1" 
                                           value='{% if entry_1 %}{{ entry_1 }}{% endif %}'></dd><br>
                <dd>Choose Model:
                    <select name="model" id="embed" selected="selected">
                        <option value="base">Please Select the Model</option>
                        <option value="DISTILBERT">DistilBERT (pre-trained)</option>
                    </select>
                </dd><br>
                <dd><input type=submit value="Submit"></dd> 
            </dl>
        </form>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='df_style.css') }}">
    <br>
    <br>
    {% for table in tables %}
     <h2> {{titles[loop.index]}} </h2>
     {{table | safe}}
    {% endfor %}
       
   
</body>
</html>
